#!/usr/bin/env bash

INSTALL_DIR="$1"
# shellcheck disable=SC2034 # unused vars
dot_files_mapping=(
  "$INSTALL_DIR/dotfiles/.zshrc:$HOME/.zshrc"
  "$INSTALL_DIR/dotfiles/.aliases:$HOME/.aliases"
  "$INSTALL_DIR/dotfiles/.gitconfig:$HOME/.gitconfig"
  "$INSTALL_DIR/dotfiles/.zsh_plugins.txt:$HOME/.zsh_plugins.txt"
)
